.navbar1 {
  background-color: #fff;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  z-index: 10000;
  margin-bottom: 0px !important;
  padding: 1rem 6rem;
}
.navbar {
  padding: 2rem 0;
}
.navbar-logo1 img {
  height: 50px !important;
  width: auto;
  margin-right: 10%;
}
.nav-item {
  padding: 0 3rem;
}
.nav-item a{
  text-decoration: none;
}
